{% extends "layout.twig" %}

{% block pagetitle %}Mont-Terri Artikel{% endblock %}

{% block sidebar_right %}{% endblock %}

{% block breadcrumb %}
  <div class="container-fluid hidden-xs {% block backgroundcolor %}background-white{% endblock %}">
    <div class="col-sm-12 fixmargin">
      <h2 id="br1" class="hidden">Breadcrumbs</h2>
      <ol class="breadcrumb" role="navigation" aria-labelledby="br1">
        <li><a href="#">Mont-Terri</a><span class="icon icon--greater"></span></li>
        <li class="active" aria-selected="true">Das Mont-Terri Projekt</li>
      </ol> 
    </div> 
  </div>
{% endblock %}

{% block content %}
  <div class="col-sm-12 fixmargin article">
    <div class="row">
      <div class="col-sm-8">
        <article>
          <h1 class="page-title">Über das Mont Terri Projekt</h1>
          <p>Das Mont Terri Projekt in Stichworten:</p>
          <ul class="dashed">
            <li><p>15 Projektpartner beteiligen sich am Mont Terri Projekt.</p></li>
            <li><p>swisstopo betreibt das Felslabor und ist für den sicheren Betrieb verantwortlich</p></li>
            <li><p>Die Forschungsarbeiten sind bewilligungspflichtig: swisstopo reicht dem Kanton Jura jährliche Gesuche ein. Der Kanton prüft und bewilligt diese.</p></li>
            <li><p>swisstopo finanziert den Betrieb und Unterhalt des Felslabors. Die 15 Forschungspartner finanzieren die Experimente und deren Auswertung (Finanzierung).</p></li>
            <li><p>Ein Vertragswerk zwischen Bund und Kanton Jura sowie zwischen Bund und den Forschungspartnern regelt alle Belange im Mont Terri Projekt.</p></li>
          </ul>
          <div style="height: 19.5px;"></div>
          <p><a href="#" class="icon icon--before icon--pdf" aria-hidden="true">Ausführlicher Text</a> (PDF,40 Kb)</p>
          <p><a href="#" class="icon icon--before icon--pdf" aria-hidden="true">Mont Terri Broschüre</a> (PDF,39 Kb)</p>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 topic">
        <h3>
          <a href="#">Organisation</a>
        </h3>
        <p>Organisation des Mont Terri Projektes. Die Aufgaben des Steuerungsausschusses, des Versuchsleiters, des Management-Teams und der Commission de suivi sowie weiteren Beteiligten.</p>
      </div>
      <div class="col-sm-6 topic">
        <h3>
          <a href="#">Vertragswerk</a>
        </h3>
        <p>swisstopo als Vertreter des Bundes hat Verträge mit den Projektpartnern und dem Kanton Jura abgeschlossen. Damit ist das Mont Terri Projekt und der Felslaborbetrieb durch eine legale Basis abgesichert.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 topic">
        <h3>
          <a href="#">Finanzierung</a>
        </h3>
        <p>Die Mont Terri Forschungspartner finanzieren die Experimente. Der Bund (swisstopo) finanziert den Betrieb und den Unterhalt des Felslabors.</p>
      </div>
      <div class="col-sm-6 topic">
        <h3>
          <a href="#">Geschichte des Projekts</a>
        </h3>
        <p>Geschichte des Projektes seit Mitte der Neunzigerjahre.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 topic">
        <h3>
          <a href="#">Medien-Echo</a>
        </h3>
        <p>Echo in Presse, Radio und Fernsehen.</p>
      </div>
    </div>
  </div> 
{% endblock %}
