{% extends "layout.twig" %}

{% block pagetitle %}Mont-Terri Textseite{% endblock %}

{% block breadcrumb %}
  <div class="container-fluid hidden-xs {% block backgroundcolor %}background-white{% endblock %}">
    <div class="col-sm-12 fixmargin">
      <h2 id="br1" class="hidden">Breadcrumbs</h2>
      <ol class="breadcrumb" role="navigation" aria-labelledby="br1">
        <li><a href="#">Mont-Terri</a><span class="icon icon--greater"></span></li>
        <li><a href="#">Das Mont-Terri Projekt</a><span class="icon icon--greater"></span></li>
        <li><a href="#">Organisation</a><span class="icon icon--greater"></span></li>
        <li class="active" aria-selected="true">Kontraktoren</li>
      </ol> 
    </div> 
  </div>
{% endblock %}

{% block sidebar %}
  <div class="col-sm-4 col-md-3 drilldown">
    <div class="col-sm-12">
      <a href="#collapseSubNav" data-toggle="collapse" class="collapsed visible-xs">Sub-Navigation</a>
      <div class="drilldown-container">
        <nav class="nav-page-list" role="navigation" id="secondary-navigation">
          <a href="#" class="icon icon--before icon--less"><span class="sr-only">Back to </span>Das Mont-Terri Projekt</a>
          <ul>
            <!-- the .list-emphasis class is optionnal -->
            <li class="list-emphasis">
              <span>Organisation</span>
              <ul>
                <!-- add the .list-sub class if the list has some animated sub-lists -->
                <li><a href="#">Schweizerische Eidgenossenschaft</a></li>
                <li><a href="#">République et Canton du Jura (RCJU)</a></li>
                <li class="active" aria-selected="true">Kontraktoren<span class="sr-only"> active</span></li>
                <li><a href="#">Partner</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="col-md-8 fixmargin">
    <div class="row">
      <div class="col-sm-12">
        <article>
          <h1 class="page-title">Mitarbeitende Firmen und Institutionen</h1>
          <p>Der Steuerungsausschuss (Steering Committee) entscheidet auf Grund von Offerten und Empfehlungen der Versuchsleiter über die Vergabe von Aufträgen an die Kontraktoren (private Firmen, öffentlich rechtliche Forschungsorganisationen wie Universitäten und Hochschulen). Der Mont Terri Projektleiter (siehe <a href="#">Organisationen</a>) erteilt dann die entsprechenden Aufträge an die Kontraktoren. In diesen Aufträgen sind die durchzuführenden Arbeiten, das Produkt (Messungen, Auswertung, Modellierung, Berichtdokumentation), der Zeitplan und die Zahlungsbedingungen spezifiziert. Der Mont Terri Projektleiter führt das Controlling durch und löst nach Freigabe der Rechnungen durch die Versuchsleiter und den Direktor die Zahlungen aus.</p>

          <p>Mehr als 150 Kontraktoren aus dem Aus- und Inland haben bereits Aufträge vom Mont Terri Projekt erhalten. Etwa 20 Prozent des Umsatzes verbleiben im Kanton Jura.</p> 

          <p>Der rechtliche Status des Mont Terri Consortiums, worin die 14 internationalen <a href="#">Partner</a> organisiert sind, ist eine einfache Gesellschaft mit privaten und öffentlichen Organisationen.</p>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <article>
          <h3>Verzeichnisse der Kontraktoren</h3>
          <h4>Private Kontraktoren (Schweiz)</h4>
          <p>Verzeichnis der schweizer Privatfirmen</p>
          <p>Publiziert: 06.05.2015</p>
          <p><a href="#" class="icon icon--before icon--pdf" aria-hidden="true">Verzeichnis der schweizer Privatfirmen</a> (PDF,40 Kb)</p>
        </article>
      </div>
      <div class="col-sm-12">
        <article>
          <h4>Private Kontraktoren (international)</h4>
          <p>Verzeichnis der ausländischen Privatfirmen</p>
          <p>Publiziert: 06.05.2015</p>
          <p><a href="#" class="icon icon--before icon--pdf" aria-hidden="true">Verzeichnis der ausländischen Privatfirmen</a> (PDF,39 Kb)</p>
        </article>
      </div>
      <div class="col-sm-12">
        <article>
          <h4>Forschungsinstitute (Schweiz und international)</h4>
          <p>Publiziert: 06.05.2015</p>
          <p><a href="#" class="icon icon--before icon--pdf" aria-hidden="true">Forschungsinstitute (Schweiz und international)</a> (PDF,39 Kb)</p>
        </article>
      </div>
    </div>
  </div>
{% endblock %}
