.imgtopic {
  padding: 15px 15px 5px 15px;
  background-color: $B04;
  h3 {
  	margin-top:0px;
  }
}

article {
	div[class*=col-] {
	  margin-bottom: 40px;
	}
	p:last-child {
		margin-bottom: 0px;
	}
	figcaption {
		margin-bottom: 0px;
	}
}

.topic {
	h3 {
		margin-top: 0px;
	}
	& > p:last-child {
		margin-bottom: 0px;
	}
}

.sidebar-right {
	h4 {
		margin-top: 0px;
	}
	.fixmargin {
		margin-bottom: 15px !important;
	}
	&.row {
		margin-left: 0px;
		margin-right: 0px;
	}
	p {
		margin: 0px;
	}
	a {
		margin-top: 10px;
		display: inline-block;
	}
	div[class*=col-] {
		background-color: $B03;
		padding: 15px;
	}
	
	.list-group {
		margin: -15px;
		.list-group-header {
			background-color: $B04;
		}
		.row, div[class*=col-] {
			margin: 0px;
			padding: 0px;
		}
		.imgtopic {
			background-color: $B03;
			padding: 5px 15px 15px 15px;
		}
	}
}

.article-contact {
	p, address {
		margin: 0px;
		padding: 0px;
	}
}

.themen {
	position: relative;
	width: 100%;
	height: 100%;
	a img {
		&:last-child {
			position: absolute;
			top: 0px;
			left: 0px;

			opacity: 1;
			@include backface-visibility(hidden);
			@include transition(.5s);
			&:hover {
				opacity: 0;
			}
		}
	}
}


