.imgtopic {
  padding: 15px 15px 5px 15px;
  background-color: $B04;
  h3 {
  	margin-top:0px;
  }
}

article {
	div[class*=col-] {
	  margin-bottom: 40px;
	}
	p:last-child {
		margin-bottom: 0px;
	}
	figcaption {
		margin-bottom: 0px;
	}
}

.topic {
	h3 {
		margin-top: 0px;
	}
	& > p:last-child {
		margin-bottom: 0px;
	}
}

.sidebar-right-contact {
	background-color: $B04;
	h2 {
		margin-top: 15px;
	}
	h4 {
		margin-top: 0px;
	}
	.fixmargin {
		margin-bottom: 15px !important;
	}
	&.row {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.themen {
	position: relative;
	width: 100%;
	height: 100%;
	a img:last-child {
		position: absolute;
		top: 0px;
		left: 0px;

		opacity: 1;
		@include transition(.5s);
		&:hover {
			opacity: 0;
		}
	}
}


